@font-face {
    font-family: "PPNeueBit 2";
    src:
        url("fonts/PPNeueBit-Regular.woff") format("woff"),
        url("fonts/PPNeueBit-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PPNeueBit 2";
    src:
        url("fonts/PPNeueBit-Bold.woff") format("woff"),
        url("fonts/PPNeueBit-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* Global Styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body,
button,
input {
    font-family: "PPNeueBit 2";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: #1f2225;
    color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    touch-action: manipulation;
}

/* User Info */
.user-info {
    position: fixed;
    top: 6px;
    left: 6px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* Score Display */
#score {
    position: fixed;
    top: 16px;
    right: 16px;
    font-size: 6vw;
}

.score-display {
    font-size: 48px;
    font-weight: bold;
    color: #232323;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Game Container */
#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

#gameContainer,
#homepage {
    transition: opacity 0.5s ease;
}

/* Game Board */
#game-board {
    display: grid;
    gap: 3px;
    width: 100%;
    flex-grow: 1;
    background-color: #373e44;
    border: 5px solid #373e44;
    padding: 3px;
    image-rendering: pixelated;
    overflow: hidden;
}

/* Cell Styles */
.cell {
    background-color: #1f2225;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 5vh;
    color: #ffffff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.cell::before,
.cell::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #373e44;
    z-index: 1;
}

.cell::before {
    top: -2px;
    left: -2px;
}

.cell::after {
    bottom: -2px;
    right: -2px;
}

/* Controls */
#controls {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    max-width: 600px;
}

#controls img {
    width: 33vw;
    height: auto;
    margin: 0 1vw;
    cursor: pointer;
    transition: transform 0.1s ease;
    object-fit: none;
    object-position: center;
}

#leftBtn {
    object-position: -35px center;
}

#downBtn {
    object-position: -35px center;
}

#rightBtn {
    object-position: -35px center;
}

#controls img:active {
    transform: scale(0.95);
}

/* Word List */
#word-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    position: relative;
    width: 100%;
}

#jackpot-words,
#regular-words {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    width: 100%;
}

#jackpot-words {
    margin-top: 2rem;
    position: relative;
}

#jackpot-words::before {
    content: "x5";
    position: relative;
    margin-right: 0.5rem;
    top: 20%;
    font-family: "Courier New", monospace;
    font-size: 0.7em;
    color: #ffa500;
}

.word-item {
    background-color: #1f2225;
    padding: 2px 5px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 1px;
    font-size: 2vw;
}

/* Wallet Connection Button */
arweave-wallet-connection {
    display: block;
    margin-bottom: 20px;
}

arweave-wallet-connection::part(button) {
    font-family: "Courier New", monospace;
    font-size: 2vh;
    font-weight: bold;
    padding: 15px 30px;
    background-color: #4a4a4a;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    image-rendering: pixelated;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

arweave-wallet-connection::part(button)::before,
arweave-wallet-connection::part(button)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 51% 51%;
    background-repeat: no-repeat;
}

arweave-wallet-connection::part(button)::before {
    background:
        linear-gradient(45deg, transparent 15px, #4a4a4a 0) bottom left,
        linear-gradient(-45deg, transparent 15px, #4a4a4a 0) bottom right,
        linear-gradient(135deg, transparent 15px, #4a4a4a 0) top left,
        linear-gradient(-135deg, transparent 15px, #4a4a4a 0) top right;
    z-index: -1;
}

arweave-wallet-connection::part(button)::after {
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background:
        linear-gradient(45deg, transparent 15px, white 0) bottom left,
        linear-gradient(-45deg, transparent 15px, white 0) bottom right,
        linear-gradient(135deg, transparent 15px, white 0) top left,
        linear-gradient(-135deg, transparent 15px, white 0) top right;
    z-index: -2;
}

arweave-wallet-connection::part(button):hover {
    background-color: #666;
}

arweave-wallet-connection::part(button):active {
    background-color: #333;
}

/* Homepage */
#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

#homepage h1 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 4vh;
}

.game-title {
    margin-bottom: 30px;
    font-size: 4vh;
    text-align: center;
}

#connectWalletScreen,
#usernameScreen,
#menuScreen,
#leaderboardScreen {
    width: 80%;
    max-width: 300px;
}

#usernameScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

#usernameInput {
    width: 100%;
    height: 36px;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #4a4a4a;
    box-sizing: border-box;
}

#submitUsername {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

#menuScreen button,
#leaderboardScreen button {
    margin-bottom: 1.5rem;
    width: 100%;
}

/* Leaderboard */
#leaderboardScreen {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    max-width: 600px;
    max-width: none;
    padding-top: 20px;
}

#leaderboardList {
    flex-grow: 1;
    overflow-y: auto;
    max-width: none;
    margin: 0;
    padding: 0 20px;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 34px;
}

.leaderboard-item .place {
    font-weight: bold;
    margin-right: 5px;
    min-width: 30px;
}

.leaderboard-item .username {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
    text-align: left;
}

.leaderboard-item .score {
    text-align: right;
    min-width: 60px;
}

#backToMenu {
    margin: 20px auto;
    width: 80%;
    max-width: 300px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    font-size: 24px;
    text-align: center;
    background-color: #1f2225;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family:
        Plus Jakarta Sans,
        sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.connect-option {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 16px;
}

.connect-option:hover {
    background: #efefef;
    cursor: pointer;
}

.connect-option-icon {
    flex: 0 0 56px;
    height: 56px;
    border-radius: 12px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.connect-option-detail {
    margin-left: 16px;
}

.connect-option-name {
    font-family:
        Plus Jakarta Sans,
        sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2px;
}

.connect-option-desc {
    font-family:
        Plus Jakarta Sans,
        sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* End Game */
.game-over-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.game-over-image {
    max-width: 80%;
    max-height: 80%;
}

.blur-background {
    filter: blur(5px);
    transition: filter 0.5s ease;
}

.modal {
    opacity: 0;
    transition: opacity 1s ease;
}

#finalScore {
    font-size: 32px;
    margin: 1rem 0;
}

#finalScoreDisplay {
    font-family: "PPNeueBit 2", sans-serif;
    transition: opacity 1s ease;
}

#previousHighScore {
    font-size: 24px;
    opacity: 0.6;
    margin: 0 0 3.5rem 0;
}

#highScoreMessage {
    font-size: 32px;
    margin: 2rem 0;
}

/* Loading Indicator */
.loading-indicator {
    display: none;
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.loading-indicator .pixel {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    margin: 0 5px;
    animation: pixelBounce 1s infinite steps(2);
}

.loading-indicator .pixel:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-indicator .pixel:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes pixelBounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#modalLoadingIndicator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.modal-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.modal-content p {
    font-size: 24px;
    margin-bottom: 15px;
}

.modal-content > *:not(#modalLoadingIndicator) {
    transition: opacity 0.3s ease;
}

.modal-content.loading > *:not(#modalLoadingIndicator) {
    opacity: 0.3;
}

.wallet-suffix {
    font-style: italic;
    opacity: 0.35;
}

/* Mobile Styles */
@media (max-width: 768px) {
    body {
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
    }

    #score {
        font-size: 14vw;
        top: 5px;
        right: 5px;
    }

    #word-list {
        font-size: 0.9em;
        margin-bottom: 5px;
        flex-shrink: 0;
    }

    #jackpot-words,
    #regular-words {
        gap: 2px;
    }

    .word-item {
        font-size: 0.8em;
        padding: 1px 3px;
    }

    #game-board {
        height: 0;
        flex-grow: 1;
        width: 100%;
    }

    .cell {
        font-size: 9vw;
    }

    #controls {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        padding-bottom: 10px;
        flex-shrink: 0;
    }

    #controls img {
        width: 35vw;
        height: auto;
        max-width: 120px;
    }

    /* Ensure buttons are always visible */
    body::after {
        content: "";
        display: block;
        height: env(safe-area-inset-bottom, 20px);
    }

    #jackpot-words,
    #regular-words {
        gap: 2px;
    }

    .word-item {
        font-size: 5vw;
        padding: 2px 5px;
    }

    #homepage h1 {
        margin-top: 0;
        padding: 1rem;
        font-size: 16vw;
    }

    #leaderboardScreen {
        height: 80vh;
    }

    #usernameInput {
        font-size: 14px;
        padding: 10px;
    }

    #submitUsername {
        font-size: 14px;
        padding: 10px;
    }
}
